@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../node_modules/react-virtualized/styles.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  background-color: #0EC6FD;
}

.header h1 {
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
}

.logo {
  width: 44px;
  margin-right: 16px;
}
